{%extends 'profile.html'%}
{%load static%}
{%block right_container%}
<div class="col-md-8 mt-3 ">
<div class="row justify-content-center ">
    <div class="col-md-8 col-10">
        <form action="" method="post">
            
            {% csrf_token %}
            <div class="form-group password-change-form p-5 custom-text-resize">
                <input type="hidden"  name="id" value="{{user.id}}">
                {% for f in form%}
                {{f.label_tag}} {{f}} <small class="text-danger">{{f.errors}}</small> 
                {%endfor%}
                <input type="submit" class="btn btn-light mt-2 w-100  signup-btn" value="ADD">

            </div>
        </form>
    </div>
</div>
</div>
{%endblock right_container%}