{%extends 'profile.html'%}
{%load static%}

{%block right_container%}
<div class="col-md-8 ">
    <div class="row justify-content-center mt-3 ">
        <div class="col-md-6 shadow-lg p-md-5 p-3 col-10">
            <h5 class="text-center ">Reset Password</h5>
            <h6 class="text-center">Enter your new password</h6>
           <div class="form-group  small">
            <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {%for f in form%}
                {{f.label_tag}} {{f}} 
                <small class="text-danger">{{f.errors}}</small> 

                {%endfor%}
                <button type="submit" class="btn btn-outline-primary w-100 MT-2  btn-sm "> Change
                    Password</button>
            </form>
           </div>
        </div>

    </div>
</div>
</div>
{%endblock right_container%}