{%extends 'profile.html'%}
{%load static%}

{%block right_container%}
<div class="col-md-8 ">
    <div class="row justify-content-center mt-3 ">
        <div class="col-md-6 text-center col-10">
            <h5 class="text-center ">Reset Password</h5>
            <i class="fa fa-envelope   fa-3x"></i><p class="fw-bold fs-6">Hurray! Your password has been changed.</p>
            <a href="{% url 'login' %}">Click here to Login</a>
        </div>

        </div>
    </div>
</div>
{%endblock right_container%}
 