{%extends 'home.html'%}
{%load static%}
{%block product_content%}
<div class="container profile-main-container mt-5">
    <div class="row profile-container justify-content-between">
        <div class="col-md-3 profile-container-left">
            <div class="row text-center py-5 ">
                <div class="col-md-12 self-align-center col-6  user-avatar"><img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"  alt="Maxwell Admin"></div>
                <div class="col-md-12 col-6">
                   
                    <div class="row text-center">
                        <div class="col-md-12 fw-bold h5">Hello,{{user.first_name}}</div>
                     
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 w-100"><button class="btn btn-outline-primary w-100">Check Profile</button></div>
                    </div>
                    <div class="row mb-2">
                    <a href="{% url 'addresses'%}"> <div class="col-md-12 w-100"><button class="btn btn-outline-primary w-100">Add New Addresses</button></div></a>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 w-100"><button class="btn btn-outline-primary w-100">Check Orders</button></div>
                    </div>
                </div>
            </div>
            
                
            
        </div>
        {%block right_container%}
        <div class="col-md-8  profile-container-right">
            
            <div class="row justify-content-between p-3">
                <div class=" col-12 ">
                    <div class="row">
                        <div class="col-12 text-decoration-underline h5">Profile Details</div>
                    </div>
                    <form action="">

                    .<div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-label small">First Name</label>
                            <input type="text" name="" id="" value="{{user.first_name}}" class="form-control " placeholder="" aria-describedby="helpId">
                            
                          </div>
                        <div class="col-md-6">
                            <label for="" class="form-label small">Last Name</label>
                            <input type="text" name="" id="" class="form-control small" value="{{user.last_name}}" placeholder="" aria-describedby="helpId">
                            
                          </div>
                      
                    </div>
                    .<div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-label small">Email Address</label>
                            <input type="text" name="" id="" value="{{user.email}}" class="form-control small" placeholder="" aria-describedby="helpId">
                            
                          </div>
                        <div class="col-md-6">
                            <label for="" class="form-label small">Phone</label>
                            <input type="text" name="phone" id="" class="form-control small" placeholder="" aria-describedby="helpId">
                        </div>
                      
                    </div>
                    
                </form>
                </div>
                
                <div class=" col-12 mt-3 ">
                    <div class="row">
                        <div class="col-12 text-decoration-underline h5">Addresses</div>
                    </div>
                    <div class="row mt-3">
                        {% for address in addresses%}
                        <div class="col-md-6 col-12 mb-3">
                            <div class="card address-card-custom" style="width: 18rem;">
                                <div class="card-body">
                                  <h6 class="h5">{{address.name}}</h6>
                                  <h6 class="card-subtitle mb-2 small ">{{address.house_no}}</h6>
                                  <p class="card-text small">{{address.street}} {{address.locality}}</p>
                                  <p class="card-text small">{{address.city}} {{address.zip_code}} {{address.state}}</p>
                                  <a href="#" class="card-link"><button class="btn btn-outline-primary btn-sm ">Remove</button></a>
                                </div>
                              </div>
                           </div>
                           {%endfor%}
                        </div>
                        
                    </div>
                
                </div>
                
            </div>
            {%endblock right_container%}
        </div>
    </div>
    
</div>
{%endblock product_content%}
